---
layout: default
title: Home
---

<section class="intro">
    <div class="wrap">
        <h1>An online portal for sharing research and development projects, tools, and technologies being created at Tufts CEEO.</h1>
        <p>Tufts Center for Engineering Education and Outreach</p>
    </div>
</section>
<section class="portfolio">
    <div class="content-wrap portfolio-wrap" style="position: relative; height: 863.266px;">
        <!-- {% assign my_variable = 100 %} -->
        <!-- {% assign projects = site.projects | sort: 'date' | reverse %} -->
        {% for project in projects %}
        {% if project.draft == false %}
            <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
                <a class="portfolio-item__link" href="{{ project.url }}">
                    <div class="portfolio-item__image">
                        <img src="{{ project.displayimg | prepend: 'projects/project_assets/'|replace: ' ', '%20' }}" alt="{{ project.title }}">
                    </div>
                    <div class="portfolio-item__content">
                        <div class="portfolio-item__info">
                            <h2 class="portfolio-item__title">{{ project.title }}</h2>
                            <p class="portfolio-item__subtitle">{{ project.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        <!-- {% assign my_variable = my_variable  | plus: 7990 %} -->
        {% endif %}
        {% endfor %}
        
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <a class="portfolio-item__link" href="/project/bicycle-wall">
                <div class="portfolio-item__image">
                    <img src="https://d1qmdf3vop2l07.cloudfront.net/chartreuse-kouprey.cloudvent.net/hash-store/18f67b73a1cf6147f0f116fdd1acd62e.jpg" alt="Bicycle Wall" data-cms-original-src="/images/demo/portrait-01.jpg">
                </div>
                <div class="portfolio-item__content">
                    <div class="portfolio-item__info">
                        <h2 class="portfolio-item__title">Bicycle Wall</h2>
                        <p class="portfolio-item__subtitle">Mural and illustration</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 227px; top: 0px;">
            <a class="portfolio-item__link" href="/project/triangle-man">
                <div class="portfolio-item__image">
                    <img src="https://d1qmdf3vop2l07.cloudfront.net/chartreuse-kouprey.cloudvent.net/hash-store/479c9632d667fe10139d486a58022df0.jpg" alt="Triangle Man" data-cms-original-src="/images/demo/square-01.jpg">
                </div>
                <div class="portfolio-item__content">
                    <div class="portfolio-item__info">
                        <h2 class="portfolio-item__title">Triangle Man</h2>
                        <p class="portfolio-item__subtitle">Street art illustration</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 227px; top: 227px;">
            <a class="portfolio-item__link" href="/project/thirty-four">
                <div class="portfolio-item__image">
                    <img src="https://d1qmdf3vop2l07.cloudfront.net/chartreuse-kouprey.cloudvent.net/hash-store/698d6ef56fdb6a6713dac6100828aca3.jpg" alt="Thirty Four" data-cms-original-src="/images/demo/landscape-05.jpg">
                </div>
                <div class="portfolio-item__content">
                    <div class="portfolio-item__info">
                        <h2 class="portfolio-item__title">Thirty Four</h2>
                        <p class="portfolio-item__subtitle">Paint and foliage</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 300px;">
            <a class="portfolio-item__link" href="/project/colored-stripes">
                <div class="portfolio-item__image">
                    <img src="https://d1qmdf3vop2l07.cloudfront.net/chartreuse-kouprey.cloudvent.net/hash-store/2adf40a99be457212d4420ecbdac601a.jpg" alt="Colored stripes" data-cms-original-src="/images/demo/square-02.jpg">
                </div>
                <div class="portfolio-item__content">
                    <div class="portfolio-item__info">
                        <h2 class="portfolio-item__title">Colored stripes</h2>
                        <p class="portfolio-item__subtitle">Wall painting</p>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</section>

<section class="post">
    <div class="wrap">
        <h1>Latest Posts</h1>
        <ul>
            {% for post in site.posts %}
                <li>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {{ post.excerpt }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="intro">
    <div class="wrap">
        {{content}}
    </div>
</section>